version: '3.3'

services:

  wordpress:
    build:
      context: ./wp-docker/php-apache
    depends_on:
      - mysql
    volumes:
      - ${APPLICATION}:/var/www
    ports:
      - "${APACHE_HOST_HTTP_PORT}:80"
      - "${APACHE_HOST_HTTPS_PORT}:443"
    networks:
      - frontend
      - backend

  mysql:
    image: mysql:5.7
    volumes:
      - ${DATA_SAVE_PATH}/mysql:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - backend

volumes:
  mysql:
    driver: "local"

### Networks Setup ############################################

networks:
  frontend:
    driver: "bridge"
  backend:
    driver: "bridge"
